form, p, span {
    margin:0;
    padding:0; }

a {
    color:#0000FF;
    text-decoration:none; }

    a:hover { text-decoration:underline; }


#debate {
  font-weight: 400;
  color: #3d3d3d;
}

#wrapper, #loginform {
    margin:0 auto;
    padding-bottom:25px;
    background:#EBF4FB;
    width:504px;
    border:1px solid #ACD8F0; }

#loginform { padding-top:18px; }

    #loginform p { margin: 5px; }

.chat {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:270px;
    width:430px;
    border:1px solid #ACD8F0;
    overflow:auto; }

#usermsg {
    width:395px;
    border:1px solid #ACD8F0; }

#submit { width: 60px; }

.error { color: #ff0000; }

#menu { padding:12.5px 25px 12.5px 25px; }

.welcome { float:left; }

.logout { float:right; }

.msgln { margin:0 0 2px 0; }


.cd-button {
  width: 150px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid #555555;
  color: #555555;
  float: right;
  text-align: center;
  padding-top: 5px;
}

