body {
	margin:0; padding:0;
}

.geocoder {
  z-index:1;
  width:100%;
/*	right: 500px; */
}

.geocoder_title {
	color: black;
  width: 90%;
  margin: auto;
}

.choose_election_title {
	color: black;
  margin-left: 20px;
}

.search-container {
  width: 90%;
  margin: auto;
  margin-top: 30px;

}

.locations {
  margin-top: 30px;
  color: #3d3d3d;
}



/* Header */
#elections {
  font-weight: 400;
  color: #3d3d3d;
}

.main-content-container {
	display: flex;
	flex-wrap: wrap;
  width: 100%;
}



#news-feed-container {
  margin-top: 70px;
	width: 30%;
	height: 600px;
}

#refreshFeed {
	align-content: center;
}

#articleImg {
	width: 20%;
	height: 20%;
}

.header {
  position: absolute;
  z-index: 1;
}


#map {
 	position:absolute;
  bottom: 0;
  right: 0;
 	width: 70%;
  height: 100%;
 }

.header {
	width: 100%;
}

/* MAP */
/*
.clickMe {
  height: 30px;
  width: 100px;
  background-color: red;
}
*/
/* Menu */

body
{
  margin: 0;
  padding: 0;


  background: white;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

a
{
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

a:hover
{
  color: tomato;
}




#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}


#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}


#menu
{
  width: 330px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

/* ELECTIONSSSSSS */
.content-container {
  width: 90%;
  margin: auto;
}

#searchButton {
  height: 30px;
	width: 100%;
}

#electionBox {
  width: 50%;
  height: 30px;
}

.electionContent {
  margin: auto;
  margin-top: 0px;
  width: 90%;
  height: 560px;
  overflow: auto;
}

.electionContent p {
  margin-top: 15px;
}

.electionContent .election-name {
	font-size: 16px;
	color: #555;
	padding-top: 15px;
}

.electionContent .election-id {
	font-size: 12px;
	color: #555;
}

.electionContent .electionDay {
	font-size: 14px;
	color: #555;
	border-bottom: 1px solid #555;
}

.election-button {
  border: solid 1px #D8D8D8;
  border-radius: 4px;
  background-color: white;
  padding: 10px 10px 0px 10px; 
  margin-top: 10px;
}

.election-button:hover {
  transition: 0.3s;
  border: solid 2px #52a3ff;
  cursor: pointer;

}

.election-button h3 {
  color: #3d3d3d;
}

.election-button p {
  color: #757575;
}





























